<ul class="social-media-list">
  {%- if site.social.mastodon -%}
  <li>
    <a
      rel="me"
      href="https://infosec.exchange/@{{ site.social.mastodon |
      cgi_escape | escape }}"
      target="_blank"
      title="{{ site.social.telegram | escape }}"
    >
      infosec.exchange/@patrickrbc
    </a>
  </li>
  {%- endif -%} {%- if site.social.telegram -%}
  <li>
    <a
      rel="me"
      href="https://t.me/{{ site.social.telegram | cgi_escape | escape }}"
      target="_blank"
      title="{{ site.social.telegram | escape }}"
      ><svg class="svg-icon">
        <use
          xlink:href="{{ '/assets/minima-social-icons.svg#telegram' | relative_url }}"
        ></use>
      </svg>
      <span class="username">{{ site.social.telegram| escape }}</span>
    </a>
  </li>
  {%- endif -%} {%- if site.social.github -%}
  <li>
    <a
      href="https://github.com/{{ site.social.github| cgi_escape | escape }}"
      target="_blank"
      ><svg class="svg-icon">
        <use
          xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"
        ></use>
      </svg>
      <span class="username">{{ site.social.github| escape }}</span></a
    >
  </li>
  {%- endif -%} {%- if site.social.instagram -%}
  <li>
    <a
      href="https://instagram.com/{{ site.social.instagram| cgi_escape | escape }}"
      target="_blank"
      ><svg class="svg-icon">
        <use
          xlink:href="{{ '/assets/minima-social-icons.svg#instagram' | relative_url }}"
        ></use>
      </svg>
      <span class="username">{{ site.social.instagram| escape }}</span></a
    >
  </li>
  {%- endif -%} {%- if site.social.linkedin -%}
  <li>
    <a
      href="https://www.linkedin.com/in/{{ site.social.linkedin| cgi_escape | escape }}"
      target="_blank"
      ><svg class="svg-icon">
        <use
          xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"
        ></use>
      </svg>
      <span class="username">{{ site.social.linkedin| escape }}</span></a
    >
  </li>
  {%- endif -%} {%- if site.social.twitter -%}
  <li>
    <a
      href="https://www.twitter.com/{{ site.social.twitter| cgi_escape | escape }}"
      target="_blank"
      ><svg class="svg-icon">
        <use
          xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"
        ></use>
      </svg>
      <span class="username">{{ site.social.twitter| escape }}</span></a
    >
  </li>
  {%- endif -%} {%- if site.social.rss -%}
  <li>
    <a href="{{ 'feed.xml' | relative_url }}" target="_blank"
      ><svg class="svg-icon">
        <use
          xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"
        ></use>
      </svg>
      <span>{{ site.social.rss | escape }}</span></a
    >
  </li>
  {%- endif -%}
</ul>
