---
---

@import "minima";

$text-color: #dddddd;
$background-color: #2f2f2f;

body {
  background-color: #eeeee4;
}

a,
a:visited {
  color: #21130d;
}

a:hover {
  color: #063970;
}

pre {
  max-height: 600px;
}

.night-mode:hover {
  text-decoration: none;
}

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 0;
}

body.dark {
  background-color: $background-color;
  color: $text-color;
  transition: 0.2s;

  a,
  a:visited {
    color: $text-color;
  }

  .site-title,
  .site-title:visited,
  .site-nav .page-link,
  .footer-heading {
    color: #ffc502;
  }

  .post-list-heading {
    color: #828282;
  }

  a:hover {
    color: white;
  }

  .highlight,
  .highlighter-rouge .highlight,
  pre,
  code {
    background-color: $background-color;
    border: 1px solid $background-color;
    overflow: hidden;
  }

  .site-nav {
    background-color: #2f2f2f;
  }
}
