<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <script async
      src="https://www.googletagmanager.com/gtag/js?id=UA-137241651-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-137241651-1');
    </script>
    <script>
      window.onload = function () {
        setTheme(localStorage.getItem('theme'))
      }

      document.querySelector('.night-mode').onclick = function () {
        let current = localStorage.getItem('theme')
        setTheme(toggleName(current))
      }

      function toggleName (theme) {
        return theme === 'dark' ? 'light': 'dark'
      }

     function setTheme (theme) {
        theme = theme || 'light'

        localStorage.setItem('theme', theme)

        document.querySelector('body').classList.add(theme)
        document.querySelector('body').classList.remove(toggleName(theme))
      }
    </script>
  </body>

</html>
